#Ignora los archivos de los modulos
node_modules/

#Ignora los archivos de dist
dist/

#Ignora archivo de indicaciones
todo.txt

#Ignora archivo JSON de prueba
output.json

#Ignora archivo de pruebas de interfaz
interfazConsola.js

#ignora copia de index.js
index copy.js