:root{
    --main-color : #272829;
    --secundary-color: #61677A;
    --third-color: #D8D9DA;
    --color-canvas: #FFF6E0;

    /*Colores para prioridades de elementos*/
    --priority-first:#FF5733;
    --priority-second:#FFA533;
    --priority-third:#FFE433;
    --priority-fourth:#33FF57;
    --priority-default:#33A1FF;

    /*Colores para task completas, segun prioridad*/
    --completed-priority:#9c6256;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

#headerText{
    font-size: 32px;
    margin-bottom: 0px;
}

main{
    padding: 0px !important;
    margin: 0px !important;
    flex: 1;
}

#content{
    background-color: var(--color-canvas);
    padding-top: 20px;
    padding-bottom: 10px;
    height: -webkit-fill-available;
}

#projectTItle{
    display: none;
}

#projects{
    background-color: var(--secundary-color);
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}

#asideTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#asideTop .show, #asideTop .not-show{
    color: white;
}

#proyectosContainer p:hover{
    font-weight: bold;
}

footer{
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

footer a{
    color: #272829;
}

#asideTitle{
    display: none;
}

#currentProjectTitle{
    color: white;
}

#tareasPendintesText{
    margin-left: 5px;
    font-size: 20px;
}

#todoContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

#todoContainer .note,#todoContainer .todo,
#todoContainer .checkList{
    border: none;
}

#todoContainer button:hover,#todoContainer button:focus{
    border: 3px solid black;
}

#completedContainer{
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
} 

#completedContainer.collapsing{
    display: flex;
}

#completedContainer.show{
    display: flex;
}

#btnContainer{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#expandCompleted{
    height: fit-content;
    background-color: transparent;
    color: gray;
    border: none;
}

#addBtn{
    position: fixed;
    bottom: 10vh;
    right: 2vh;
    width: fit-content;
    background-color: var(--secundary-color);
    color: white;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 20px;
    border: none;
}

.todo{
    display: grid;
    grid-template-columns: auto repeat(3,1fr);
    grid-template-rows: 25% 1fr;
    background-color: var(--priority-default);
    padding: 5px 10px;
    border-radius: 20px;
    gap: 5px;
    width: 100%;
}

.note{
    display: grid;
    grid-template-columns: auto repeat(3,1fr);
    grid-template-rows: 25% 1fr;
    background-color: var(--priority-default);
    padding: 5px 10px;
    border-bottom-right-radius: 30px;
    gap: 5px;
    width: 100%;
}

.checkList{
    display: grid;
    grid-template-columns: auto repeat(3,1fr);
    grid-template-rows: 25% 1fr;
    background-color: var(--priority-default);
    padding: 5px 10px;
    gap: 5px;
    width: 100%;
}

.check{
    display: flex;
    gap: 5px;
}

.listCheckBtn{
    align-self: center;
    justify-self: center;
}

.checkText{
    padding: 0px;
    margin: 0px;
}

.todoCheck{
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.listCheckBtn{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.todoTop{
    grid-row: 1/2;
    grid-column: 2/5;
    display: flex;
    justify-content: space-between;
}

.checkList .todoTop{
    grid-column: 1/5;
}

.taskProject{
    display: none;
}

.todoDescription{
    grid-row: 2/3;
    grid-column: 2/5;
    text-align: start;
}

@media (min-width: 576px) {
    aside {
      height: auto; /* Tamaño específico para el aside cuando hay dos filas */
    }
    #content{
        flex: 1;
        height: auto;
    }
  }

  @media (min-width: 355px) {
    .todo, .note, .checkList{
      width: 80%; /* Tamaño específico para el aside cuando hay dos filas */
    }

  }

/*Reglas para cambiar simbolo de btn al mostrar o ocultar listas*/
#projectsBtn.collapsed .not-show{
    display: none;
}

#projectsBtn:not(.collapsed) .show{
    display: none;
}

#expandCompleted.collapsed .not-show{
    display: none;
}

#expandCompleted:not(.collapsed) .show{
    display: none;
}

/*Reglas para el modal*/

.sideLabel{
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.topLabel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label p{
    margin: 0px;
}

#createHeader,#updateTaskHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content{
    background: #61677A;
    color: white;
}

/*Reglas para los inputs del modal */
#createTitle,#createFecha,#createProject,#createPriority,#createInfo,
#updateTitle,#updateFecha,#updateProject{
    border-radius: 5px;
    border: 2px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

#selectType,#createPriority,#updatePriority,#updateStatus{
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
}

#createChecksContainer,#updateCheckContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.createCheck{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: white;
    flex: 1;
}

/*Clases para cambiar backgroundColor segun prioridad*/

.bg-priority1{
    background-color: var(--priority-first);
}
.bg-priority2{
    background-color: var(--priority-second);
}
.bg-priority3{
    background-color: var(--priority-third);
}
.bg-priority4{
    background-color: var(--priority-fourth);
}
.bg-priority5{
    background-color: var(--priority-default);
}

/*Reglas de backGroud para los tasks Completados*/

.bg-priority1.completedTask,
.bg-priority2.completedTask,
.bg-priority3.completedTask,
.bg-priority4.completedTask,
.bg-priority5.completedTask{
    background-color: var(--completed-priority);
}

/*Update Modal*/
#updateFooter{
    justify-content: space-between !important;
}