:root{
    --main-color : #272829;
    --secundary-color: #61677A;
    --third-color: #D8D9DA;
    --color-canvas: #FFF6E0;

    /*Colores para prioridades de elementos*/
    --priority-first:#FF5733;
    --priority-second:#FFA533;
    --priority-third:#FFE433;
    --priority-fourth:#33FF57;
    --priority-default:#33A1FF;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: var(--main-color);
}

main{
    padding: 0px !important;
    margin: 0px !important;
    flex: 1;
}

#content{
    height: 82%;
    background-color: var(--color-canvas);
}

#projects{
    background-color: var(--secundary-color);
}

footer{
    background-color: var(--third-color);
}

aside{
    /* height: 30px; */
}

@media (min-width: 576px) {
    aside {
      height: auto; /* Tamaño específico para el aside cuando hay dos filas */
    }
    #content{
        flex: 1;
        height: auto;
    }
  }